<!DOCTYPE html>
<html>
<head>
	<title>game</title>
	<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>
	<div id="main">
		<div id="left">
			<div class="pos">
			<div class="cannibel" id="a"></div>
			<div class="cannibel"></div>
			<div class="cannibel"></div>
			<div class="mission"></div>
			<div class="mission"></div>
			<div class="mission"></div>
			</div>

			<div class="platform"></div>
		</div>
		<div id="middle">
			<div id="move">
			<div id="passenger">
			<!--<div style="margin-left:14px;">-->
			<!--<div class="cannibel"></div>
			<div class="mission"></div>
			</div>-->
			</div>
			<div id="boat"></div>
			</div>
			
				<div id="river"></div>
		</div>

		<div id="right">
			<div class="pos">
			<!--<div class="cannibel"></div>
			<div class="cannibel"></div>
			<div class="cannibel"></div>
			<div class="mission"></div>
			<div class="mission"></div>
			<div class="mission"></div>-->
			</div> 
			<div class="platform"></div>
		</div>
	</div>
<script src='game.js'> </script>	
</body>
</html>