<!DOCTYPE html>
<html>
<head>
	<title> Game</title>
	<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>
<h1 id="heading" style="text-align:center; background-color:red;">Missionaries and Cannibals</h1>
<button onclick="playGame();" id="button" style="display:block; margin:auto; font-size: 40px;">Play Game </button>
<script type="text/javascript" src="mgame.js"></script>
</body>
</html>